@import "maps/leaflet.scss";
@import "helpers/_variables";
@import "helpers/_misc";
@import "helpers/_shapes";
@import "type/_typography";
@import "normalize/_normalize";
@import "grid/_layout";
@import "ui/_post";
@import "ui/_left";
@import "ui/_date";
@import "ui/_map";
@import "posts/_photoset";
@import "posts/_photo";
@import "posts/_text";

.map{
	width: 200px;
	height: 200px;
	@include border-radius(100px);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #EEE;
}