@import "helpers/_yui-reset";
@import "maps/leaflet";
@import "helpers/_variables";
@import "helpers/_misc";
@import "helpers/_shapes";
@import "type/_typography";
@import "grid/_layout";
@import "ui/_post";
@import "ui/_date";
@import "ui/_header";
@import "ui/_map";
@import "posts/_photoset";
@import "posts/_photo";
@import "posts/_text";

html{
	font: 400 13px/20px $sans;
	color: $black;
}

.map{
	width: 200px;
	height: 200px;
	@include border-radius(100px);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #EEE;
}

.hide{
	display: none !important;
}