@import "helpers/_misc";
@import "normalize/_normalize";

$sans: "Helvetica Neue", Sans-Serif;

html{
	background-color: #FFF;
}

#app{
	position: absolute;
	left: 50%;
	top: 0px;
	bottom: 0px;
	width: 320px;
	background-color: #FFF;
	margin-left: -160px;
	.intro{
		.use-location,
		.or{
			display: none;
			html.geolocation &{
				display: block;
			}
		}
	}
	.or{
		text-align: center;
		text-transform: uppercase;
	}
	.address{
		margin: 20px 40px;
		text-align: center;
		.ui-helper-hidden-accessible{
			display: none;
		}
		input{
			@include box-sizing(border-box);
			display: block;
			width: 100%;
			border: 1px solid #CCC;
			font: 400 14px/60px $sans;
			text-align: center;
		}
		.ui-autocomplete{
			text-align: left;
			li{
				border-bottom: 1px solid #EEE;
				padding: 4px;
			}
		}
	}
}

.btn{
	@include inline-block;
	height: 60px;
	font: 600 18px/60px $sans;
	background-color: blue;
	width: 240px;
	@include center-block;
	color: #FFF;
	text-decoration: none;
	text-align: center;
}

.ui-autocomplete{
	margin: 0px;
	padding: 0px;
	li{
		list-style-type: none;

	}
}

.result{
	.map{
		background-color: #EEE;
		height: 160px;
		background-repeat: no-repeat;
		background-position: center center;
		border-bottom: 1px solid #CCC;
	}
	input{
		@include inline-block;
		@include center-block;
		@include box-sizing(border-box);
		width: 240px;
	}
}

.hide{
	display: none;
}

