<pre type="application/json" class="json">
{
  "photos": [{ 
    "src": "{PhotoURL-500}",
    "thumb": "{PhotoURL-250}",
    "width": {PhotoWidth-500},
    "height": {PhotoHeight-500},
    {block:HighRes}
    "high-res": "{PhotoURL-HighRes}",
    {/block:HighRes}
    "link": "{LinkURL}"
  }]
}
</pre>

<div class="grid_row_8">
  <div class="grid_col_1">
    <div class="post-type"></div>
    {% include date.html %}
    {% include social.html %}
  </div>
  <div class="grid_col_7 image">
    <img src="{PhotoURL-500}" class="{block:HighRes}hide{/block:HighRes}" {block:HighRes}data-highres="{PhotoURL-HighRes}"{/block:HighRes}  alt="{PhotoAlt}" />
    {block:HighRes}
    <img src="{PhotoURL-HighRes}" />
    {/block:HighRes}
  </div>
  <div class="grid_col_1 spacer">&nbsp;</div>
  {block:Caption}
  <div class="grid_col_4 description content">
      <div class="caption">{Caption}</div>
  </div>
  {/block:Caption}
  {block:Exif}
  <div class="grid_col_3 exif">
    <pre class="json">
      {
        "exif": true
      }
    </pre>
    <dl>
    {block:Camera}
      <dt>Camera</dt>
      <dd>{Camera}</dd>
    {/block:Camera}
    {block:Aperture}
      <dt>Aperture</dt>
      <dd>{Aperture}</dd>
    {/block:Aperture}
    {block:Exposure}
      <dt>Exposure</dt>
      <dd>{Exposure}</dd>
    {/block:Exposure}
    {block:FocalLength}
      <dt>Focal Length</dt>
      <dd>{FocalLength}</dd>
    {/block:FocalLength}
    </dl>
  </div>
  {/block:Exif}

  <div class="grid_col_3">
    {% include tags.html %}
  </div>
</div>