<pre type="application/json" class="json">
{
  "type": "photoset",
  "photos": [{block:Photos}{ 
    "src": "{PhotoURL-500}",
    "width": {PhotoWidth-500},
    "height": {PhotoHeight-500},
    "caption": "{block:Caption}{Caption}{/block:Caption}",
    {block:HighRes}
    "highRes": "{PhotoURL-HighRes}",
    {/block:HighRes}
    "link": "{LinkURL}"
  },{/block:Photos}null],
  "layout": {JSPhotosetLayout}
}
</pre>

<div class="grid_row_8">
  <div class="grid_col_2">
    {% include date.html %}
    {block:Caption}
      <div class="caption">{Caption}</div>
    {/block:Caption}
  </div>
  <div class="photoset grid_col_6"></div>
</div>

<div class="grid_row_8">
  <div class="grid_col_2">
    {% include tags.html %}
  </div>
</div>