<pre type="application/json" class="json">
{
  "photos": [{ 
    "src": "{PhotoURL-500}",
    "thumb": "{PhotoURL-250}",
    "width": {PhotoWidth-500},
    "height": {PhotoHeight-500},
    {block:HighRes}
    "high-res": "{PhotoURL-HighRes}",
    {/block:HighRes}
    "link": "{LinkURL}"
  }]
}
</pre>

<div class="grid_row_8">
  <div class="grid_col_8 image">
    <a class="internal js-zoom open-zoom" data-index="1">
      <img src="{PhotoURL-500}" class="{block:HighRes}hide{/block:HighRes}" {block:HighRes}data-highres="{PhotoURL-HighRes}"{/block:HighRes} alt="{PhotoAlt}" />
      {block:HighRes}
      <img src="{PhotoURL-HighRes}" />
      {/block:HighRes}
    </a>
  </div>
  <div class="grid_col_4">
    {% include time.html %}
    {block:Caption}
      <div class="caption">{Caption}</div>
    {/block:Caption}
  </div>
  {block:Exif}
  <div class="grid_col_3 exif">
    <i class="icon icon-camera"></i>?
    <pre class="json">
      {
        "exif": true
      }
    </pre>
    <dl>
    {block:Camera}
      <dt>Camera</dt>
      <dd>{Camera}</dd>
    {/block:Camera}
    {block:Aperture}
      <dt>Aperture</dt>
      <dd>{Aperture}</dd>
    {/block:Aperture}
    {block:Exposure}
      <dt>Exposure</dt>
      <dd>{Exposure}</dd>
    {/block:Exposure}
    {block:FocalLength}
      <dt>Focal Length</dt>
      <dd>{FocalLength}</dd>
    {/block:FocalLength}
    </dl>
  </div>
  {/block:Exif}

  <div class="grid_col_3">
    {% include social.html %}
  </div>


  <div class="grid_col_3">
    {% include tags.html %}
  </div>


</div>