.date{
	border-bottom: 1px dotted #CCC;
	height: 13px;
	overflow: visible;
	margin-bottom: 20px;
	color: #CCC;
	span{
		@include inline-block;
		background-color: #FFF;
		padding: 0px 5px;
		position: relative;
	}
}