.date{
	border-bottom: 1px dotted #CCC;
	height: 13px;
	overflow: visible;
	margin-bottom: 20px;
	color: #CCC;
	span{
		@include inline-block;
		background-color: #FFF;
		padding: 0px 5px;
		position: relative;
	}
}

.time{
	@include inline-block;
	@include border-radius(2px);
	font: 700 40px/40px $oswald;
	background-color: $black;
	color: #FFF;
	padding: 5px;
	text-decoration: none;
	.ampm{
		@include inline-block;
		font: 400 14px/14px $mono;
		text-transform: uppercase;
		position: relative;
		top: 2px;
		margin-left: 2px;
		letter-spacing: 1px;
		@include opacity(.7);
	}
	.semi{
		@include opacity(.7);
		font-family: $sans;
		position: relative;
		top: -5px;
		margin: 0px 1px;
	}
	&[data-hour='7'],
	&[data-hour='8'],
	&[data-hour='9'],
	&[data-hour='10'],
	&[data-hour='11'],
	&[data-hour='12'],
	&[data-hour='13'],
	&[data-hour='14'],
	&[data-hour='15'],
	&[data-hour='16'],
	&[data-hour='17'],
	&[data-hour='18'],
	&[data-hour='19']{
		background-color: #F0F0F0;
		color: $black;
	}
}