@import "compass/css3/transition";

#map{
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 30%;
	z-index: 2;
	.leaflet-tile-pane{
		@include opacity(.5);
	}
	#leaflet{
		background-color: $black;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 20px;
		z-index: 2;
	}
	.edge{
		position: absolute;
		left: 18px;
		top: 0px;
		bottom: 0px;
		width: 4px;
		z-index: 4;
		html.rgba &{
			background-color: rgba(#000, .2);
		}
	}
	.bg{
		position: absolute;
		z-index: 1;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 20px;
		background-color: $black;
	}
	@include breakpoint(tablet){
	  display: none;
	}
	@include breakpoint(mobile){
		display: none;
	}
}

.marker{
	width: 16px;
	height: 16px;
	margin-left: -8px;
	margin-top: -8px;
	z-index: 401;
	position: relative;
	.open{
		@include border-radius(50%);
		@include opacity(0);
		@include transition(opacity 0.3s ease-out);
		width: 60px;
		height: 60px;
		background-color: #FFF;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -30px;
		margin-top: -30px;
		background-size: cover;
	}
	.pin{
		position: relative;
		width: 16px;
		.ball{
			@include border-radius(50%);
			width: 10px;
			height: 10px;
			background-color: #FFF;
			border: 3px solid #FFF;
		}
		&.photoset{
			.ball{
				background-color: $colour-photoset;
			}
		}
		&.link{
			.ball{
				background-color: $colour-link;
			}
		}
		&.photo{
			.ball{
				background-color: $colour-photo;
			}
		}
		&.text{
			.ball{
				background-color: $colour-text;
			}
		}
		&.chat{
			.ball{
				background-color: $colour-chat;
			}
		}
	}
	&:hover,
	&.active{
		.open{
// 			display: block;
			@include opacity(1);
			@include transition(opacity 0.3s ease-out);
		}
	}
}

.leaflet-control-attribution{
	background-color: #000 !important;
	color: #AAA !important;
	box-shadow: none !important;
	padding: 2px 6px 2px 20px !important;
	font: 400 11px/16px $sans !important;
	text-align: right;
	a{
		color: #FFF !important;
		text-decoration: none !important;
	}
}