@import "compass/css3/transform";

.post{
	.date{
		margin-bottom: 20px;
		a{
			text-decoration: none;
			&.day{
				color: #CCC;
			}
			&.time{
				color: #DDD;
			}
		}
	}
	.caption{
		margin-right: 20px;
		font: 400 17px/22px $sans;
		p{
			margin-bottom: 20px;
		}
		a{
			color: #777;
			text-decoration: none;
			border-bottom: 1px solid #CCC;
			&:hover{
				color: $black;
				border-bottom-color: transparent;
			}
		}
	}
}

.divider{
	border-bottom: 1px solid #EEE;
	margin: 20px 0px;
}

.page{
	position: relative;
}

pre.json{
	display: none;
}

.tags{
	ul,
	li{
		margin: 0px;
		padding: 0px;
		list-style-type: none;
	}
}