@import "compass/css3/transform";

.post{
	.post-type{
		@include border-radius(50%);
		margin-bottom: 20px;
		width: 80px;
		height: 80px;
		background-color: #F5F5F5;
	}
	&.text{
		.post-type{
			background: $colour-text url('../images/post-text.png') no-repeat center center;	
		}
	}
	&.photo{
		.post-type{
			background: $colour-photo url('../images/post-photo.png') no-repeat center center;
		}
	}
	&.photoset{
		.post-type{
			background: $colour-photoset url('../images/post-photo.png') no-repeat center center;
		}
	}
	&.quote{
		.post-type{
			background: $colour-quote url('../images/post-quote.png') no-repeat center center;
		}
	}
	&.link{
		.post-type{
			background: $colour-link url('../images/post-link.png') no-repeat center center;
		}
	}
	&.chat{
		.post-type{
			background: $colour-chat url('../images/post-chat.png') no-repeat center center;
		}
	}
	&.audio{
		.post-type{
			background: $colour-audio url('../images/post-audio.png') no-repeat center center;
		}
	}
	&.video{
		.post-type{
			background: $colour-video url('../images/post-video.png') no-repeat center center;
		}
	}
	.date{
		font: 400 13px/20px $sans;
		width: 80px;
		text-align: center;
		a{
			text-decoration: none;
			&.day{
				color: #AAA;
			}
			&.time{
				color: #CCC;
			}
		}
	}

	.tags{
		color: #DDD;
		margin-top: 20px;
		font: 400 13px/20px $sans;
		a{
			text-decoration: none;
			color: #DDD;
			&:hover{
				color: $black;
			}
		}
		.separator{
			color: #DDD;
			&:last-of-type{
				display: none;
			}
		}
	}

	.social{
		width: 80px;
		margin-top: 20px;
		.like_button{
			@include inline-block;
			@include center-block;
			width: 20px;
			height: 20px;
			margin-bottom: 4px;
		}
		.reblog_button{
			@include inline-block;
			@include center-block;
			width: 20px;
			height: 20px;
		}
	}

	.content{
		h1{
			font: 600 32px/32px $sans;
		}
		p{
			margin-bottom: 20px;
			font: 400 16px/22px $sans;
		}
		blockquote{
			font-style: italic;
			border-left: 4px solid #EEE;
			padding-left: 20px;
			margin-left: -20px;
			p{
				font-style: italic;
			}
		}
		a{
			color: #777;
			text-decoration: none;
			border-bottom: 1px solid #CCC;
			&:hover{
				color: $black;
				border-bottom-color: transparent;
			}
		}
	}
}

.divider{
	margin: 80px 0px;
}

.page{
	position: relative;
}

pre.json{
	display: none;
}

.tags{
	ul,
	li{
		margin: 0px;
		padding: 0px;
		list-style-type: none;
	}
}