$black: #111;
$sans: "Helvetica Neue" Sans-Serif;
$colour-text: #333333;
$colour-photo: #d44f2e;
$colour-photoset: #ff7a59;
$colour-quote: #f0951f;
$colour-link: #44b57d;
$colour-chat: #3a9fd3;
$colour-audio: #a26fbc;
$colour-video: #687480;