@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,900,900italic);
/* required styles */
/* line 16, ../_scss/maps/leaflet.scss */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 21, ../_scss/maps/leaflet.scss */
.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
}

/* line 27, ../_scss/maps/leaflet.scss */
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* line 34, ../_scss/maps/leaflet.scss */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* map is broken in FF if you have max-width: 100% on tiles */
/* line 38, ../_scss/maps/leaflet.scss */
.leaflet-container img {
  max-width: none !important;
}

/* stupid Android 2 doesn't understand "max-width: none" properly */
/* line 42, ../_scss/maps/leaflet.scss */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important;
}

/* line 45, ../_scss/maps/leaflet.scss */
.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}

/* line 49, ../_scss/maps/leaflet.scss */
.leaflet-tile-loaded {
  visibility: inherit;
}

/* line 52, ../_scss/maps/leaflet.scss */
.leaflet-zoom-box {
  width: 0;
  height: 0;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
/* line 57, ../_scss/maps/leaflet.scss */
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}

/* line 61, ../_scss/maps/leaflet.scss */
.leaflet-tile-pane {
  z-index: 2;
}

/* line 62, ../_scss/maps/leaflet.scss */
.leaflet-objects-pane {
  z-index: 3;
}

/* line 63, ../_scss/maps/leaflet.scss */
.leaflet-overlay-pane {
  z-index: 4;
}

/* line 64, ../_scss/maps/leaflet.scss */
.leaflet-shadow-pane {
  z-index: 5;
}

/* line 65, ../_scss/maps/leaflet.scss */
.leaflet-marker-pane {
  z-index: 6;
}

/* line 66, ../_scss/maps/leaflet.scss */
.leaflet-popup-pane {
  z-index: 7;
}

/* control positioning */
/* line 71, ../_scss/maps/leaflet.scss */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
}

/* line 77, ../_scss/maps/leaflet.scss */
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

/* line 82, ../_scss/maps/leaflet.scss */
.leaflet-top {
  top: 0;
}

/* line 85, ../_scss/maps/leaflet.scss */
.leaflet-right {
  right: 0;
}

/* line 88, ../_scss/maps/leaflet.scss */
.leaflet-bottom {
  bottom: 0;
}

/* line 91, ../_scss/maps/leaflet.scss */
.leaflet-left {
  left: 0;
}

/* line 94, ../_scss/maps/leaflet.scss */
.leaflet-control {
  float: left;
  clear: both;
}

/* line 98, ../_scss/maps/leaflet.scss */
.leaflet-right .leaflet-control {
  float: right;
}

/* line 101, ../_scss/maps/leaflet.scss */
.leaflet-top .leaflet-control {
  margin-top: 10px;
}

/* line 104, ../_scss/maps/leaflet.scss */
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

/* line 107, ../_scss/maps/leaflet.scss */
.leaflet-left .leaflet-control {
  margin-left: 10px;
}

/* line 110, ../_scss/maps/leaflet.scss */
.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* zoom and fade animations */
/* line 118, ../_scss/maps/leaflet.scss */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 126, ../_scss/maps/leaflet.scss */
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

/* line 130, ../_scss/maps/leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

/* line 138, ../_scss/maps/leaflet.scss */
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 145, ../_scss/maps/leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}

/* cursors */
/* line 152, ../_scss/maps/leaflet.scss */
.leaflet-clickable {
  cursor: pointer;
}

/* line 155, ../_scss/maps/leaflet.scss */
.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

/* line 160, ../_scss/maps/leaflet.scss */
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}

/* line 165, ../_scss/maps/leaflet.scss */
.leaflet-dragging,
.leaflet-dragging .leaflet-clickable,
.leaflet-dragging .leaflet-container {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

/* visual tweaks */
/* line 174, ../_scss/maps/leaflet.scss */
.leaflet-container {
  background: #ddd;
  outline: 0;
}

/* line 178, ../_scss/maps/leaflet.scss */
.leaflet-container a {
  color: #0078A8;
}

/* line 181, ../_scss/maps/leaflet.scss */
.leaflet-container a.leaflet-active {
  outline: 2px solid orange;
}

/* line 184, ../_scss/maps/leaflet.scss */
.leaflet-zoom-box {
  border: 2px dotted #05f;
  background: white;
  opacity: 0.5;
}

/* general typography */
/* line 192, ../_scss/maps/leaflet.scss */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* general toolbar styles */
/* line 199, ../_scss/maps/leaflet.scss */
.leaflet-bar {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 204, ../_scss/maps/leaflet.scss */
.leaflet-bar a, .leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* line 216, ../_scss/maps/leaflet.scss */
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

/* line 221, ../_scss/maps/leaflet.scss */
.leaflet-bar a:hover {
  background-color: #f4f4f4;
}

/* line 224, ../_scss/maps/leaflet.scss */
.leaflet-bar a:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 230, ../_scss/maps/leaflet.scss */
.leaflet-bar a:last-child {
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

/* line 237, ../_scss/maps/leaflet.scss */
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}

/* line 243, ../_scss/maps/leaflet.scss */
.leaflet-touch .leaflet-bar {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 247, ../_scss/maps/leaflet.scss */
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
}

/* line 251, ../_scss/maps/leaflet.scss */
.leaflet-touch .leaflet-bar a:first-child {
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}

/* line 257, ../_scss/maps/leaflet.scss */
.leaflet-touch .leaflet-bar a:last-child {
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom: none;
}

/* zoom control */
/* line 268, ../_scss/maps/leaflet.scss */
.leaflet-control-zoom-in {
  font: bold 18px 'Lucida Console', Monaco, monospace;
}

/* line 271, ../_scss/maps/leaflet.scss */
.leaflet-control-zoom-out {
  font: bold 22px 'Lucida Console', Monaco, monospace;
}

/* line 275, ../_scss/maps/leaflet.scss */
.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
  line-height: 30px;
}

/* line 279, ../_scss/maps/leaflet.scss */
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 28px;
  line-height: 30px;
}

/* layers control */
/* line 287, ../_scss/maps/leaflet.scss */
.leaflet-control-layers {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  background: #f8f8f9;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 293, ../_scss/maps/leaflet.scss */
.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px;
}

/* line 298, ../_scss/maps/leaflet.scss */
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px;
}

/* line 302, ../_scss/maps/leaflet.scss */
.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}

/* line 307, ../_scss/maps/leaflet.scss */
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

/* line 310, ../_scss/maps/leaflet.scss */
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

/* line 314, ../_scss/maps/leaflet.scss */
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}

/* line 319, ../_scss/maps/leaflet.scss */
.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

/* line 324, ../_scss/maps/leaflet.scss */
.leaflet-control-layers label {
  display: block;
}

/* line 327, ../_scss/maps/leaflet.scss */
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

/* attribution and scale controls */
/* line 336, ../_scss/maps/leaflet.scss */
.leaflet-container .leaflet-control-attribution {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  margin: 0;
}

/* line 342, ../_scss/maps/leaflet.scss */
.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
}

/* line 347, ../_scss/maps/leaflet.scss */
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
}

/* line 350, ../_scss/maps/leaflet.scss */
.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}

/* line 353, ../_scss/maps/leaflet.scss */
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}

/* line 356, ../_scss/maps/leaflet.scss */
.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  color: black;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #fff;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  overflow: hidden;
}

/* line 369, ../_scss/maps/leaflet.scss */
.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* line 375, ../_scss/maps/leaflet.scss */
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}

/* line 381, ../_scss/maps/leaflet.scss */
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none;
}

/* line 385, ../_scss/maps/leaflet.scss */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 4px solid rgba(0, 0, 0, 0.3);
}

/* popup */
/* line 392, ../_scss/maps/leaflet.scss */
.leaflet-popup {
  position: absolute;
  text-align: center;
}

/* line 396, ../_scss/maps/leaflet.scss */
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

/* line 402, ../_scss/maps/leaflet.scss */
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}

/* line 406, ../_scss/maps/leaflet.scss */
.leaflet-popup-content p {
  margin: 18px 0;
}

/* line 409, ../_scss/maps/leaflet.scss */
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

/* line 416, ../_scss/maps/leaflet.scss */
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 429, ../_scss/maps/leaflet.scss */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

/* line 434, ../_scss/maps/leaflet.scss */
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

/* line 448, ../_scss/maps/leaflet.scss */
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}

/* line 451, ../_scss/maps/leaflet.scss */
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* div icon */
/* line 460, ../_scss/maps/leaflet.scss */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}

/* line 464, ../_scss/maps/leaflet.scss */
.leaflet-editing-icon {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Responsive Breakpoints
   ========================================================================== */
/* Placeholder text
  ========================================================================== */
/* Box Model
  ========================================================================== */
/* Usage */
/* Border Radius
  ========================================================================== */
/* Opacity
  ========================================================================== */
/* Center-align a block level element
  ========================================================================== */
/* Text overflow
  ========================================================================== */
/* Cross browser inline block
  ========================================================================== */
/* Usage */
/* line 132, ../_scss/helpers/_misc.scss */
.icon {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

/*---------------------------------------------------
	CSS Shapes by Nathan Rutzky & Contributors
-----------------------------------------------------
	Version:  1
-----------------------------------------------------
	www.cssshapes.com
-----------------------------------------------------
	submit@cssshapes.com
-----------------------------------------------------
	Copyright 2013 Under the MIT Licence
-----------------------------------------------------*/
/* 	QUADRILATERALS
-----------------------------------------------------*/
/* line 16, ../_scss/helpers/_shapes.scss */
.square {
  width: 100px;
  height: 100px;
  background: #ffffff;
}

/* line 22, ../_scss/helpers/_shapes.scss */
.square-color {
  border-color: #ccc #fff #666 #333;
  border-style: dotted;
  border-width: 50px 50px 50px 50px;
  height: 0px;
  width: 0px;
}

/* line 30, ../_scss/helpers/_shapes.scss */
.square-round-one {
  width: 100px;
  height: 100px;
  background: #ffffff;
  -webkit-border-top-left-radius: 50px;
  border-radius-topleft: 50px;
  border-top-left-radius: 50px;
}

/* line 39, ../_scss/helpers/_shapes.scss */
.square-round-two {
  width: 100px;
  height: 100px;
  background: #ffffff;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  border-radius-topleft: 50px;
  border-radius-bottomright: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* line 52, ../_scss/helpers/_shapes.scss */
.square-round-three {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 50px;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

/* line 61, ../_scss/helpers/_shapes.scss */
.square-round-half {
  background: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 0 50px 50px 0;
}

/* line 68, ../_scss/helpers/_shapes.scss */
.diamond {
  width: 100px;
  height: 100px;
  background: #ffffff;
  margin: 20px 0 0 50px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

/* line 87, ../_scss/helpers/_shapes.scss */
.diamond-cut {
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
  border-width: 0 25px 25px 25px;
  height: 0;
  width: 50px;
  position: relative;
  margin: 5px 0 50px 0;
}

/* line 97, ../_scss/helpers/_shapes.scss */
.diamond-cut:after {
  content: "";
  position: absolute;
  top: 25px;
  left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  border-width: 70px 50px 0 50px;
}

/* line 109, ../_scss/helpers/_shapes.scss */
.rhombus {
  width: 0;
  height: 0;
  position: relative;
  margin: -10px 0 0 10px;
  border-bottom: solid 60px #ffffff;
  border-left: solid 40px transparent;
  border-right: solid 40px transparent;
}

/* line 119, ../_scss/helpers/_shapes.scss */
.rhombus:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 60px;
  left: -40px;
  border-top: solid 60px #ffffff;
  border-left: solid 40px transparent;
  border-right: solid 40px transparent;
}

/* line 131, ../_scss/helpers/_shapes.scss */
.trapezoid {
  height: 0;
  width: 70px;
  margin: 10px -20px;
  border-bottom: 70px solid #ffffff;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
}

/* line 140, ../_scss/helpers/_shapes.scss */
.pentagon {
  position: relative;
  width: 54px;
  border-width: 50px 18px 0;
  margin: 35px 0 0 5px;
  border-style: solid;
  border-color: #ffffff transparent;
}

/* line 149, ../_scss/helpers/_shapes.scss */
.pentagon:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent #ffffff;
}

/* line 161, ../_scss/helpers/_shapes.scss */
.hexagon {
  width: 100px;
  height: 55px;
  margin-top: 25px;
  background: #ffffff;
  position: relative;
}

/* line 169, ../_scss/helpers/_shapes.scss */
.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #ffffff;
}

/* line 181, ../_scss/helpers/_shapes.scss */
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #ffffff;
}

/* line 193, ../_scss/helpers/_shapes.scss */
.octagon {
  width: 100px;
  height: 100px;
  background: #ffffff;
}

/* line 199, ../_scss/helpers/_shapes.scss */
.octagon:before {
  height: 0;
  width: 40px;
  content: "";
  position: absolute;
  border-bottom: 30px solid #ffffff;
  border-left: 30px solid #1c1c1c;
  border-right: 30px solid #1c1c1c;
}

/* line 209, ../_scss/helpers/_shapes.scss */
.octagon:after {
  height: 0;
  width: 40px;
  content: "";
  position: absolute;
  border-top: 30px solid #ffffff;
  border-left: 30px solid #1c1c1c;
  border-right: 30px solid #1c1c1c;
  margin: 70px 0 0 0;
}

/* line 220, ../_scss/helpers/_shapes.scss */
.rectangle {
  width: 100px;
  height: 50px;
  margin-top: 25px;
  background: #ffffff;
}

/* line 227, ../_scss/helpers/_shapes.scss */
.parallelogram-left {
  width: 100px;
  height: 50px;
  margin-top: 25px;
  background: #ffffff;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  -ms-transform: skew(20deg);
  transform: skew(20deg);
}

/* line 240, ../_scss/helpers/_shapes.scss */
.parallelogram-right {
  width: 100px;
  height: 50px;
  margin-top: 25px;
  background: #ffffff;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
}

/* 	TRIANGLES
-----------------------------------------------------*/
/* line 255, ../_scss/helpers/_shapes.scss */
.triangle {
  width: 0;
  height: 0;
  border-bottom: 100px solid #ffffff;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

/* line 263, ../_scss/helpers/_shapes.scss */
.triangle-down {
  width: 0;
  height: 0;
  border-top: 100px solid #ffffff;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

/* line 271, ../_scss/helpers/_shapes.scss */
.triangle-left {
  width: 0;
  height: 0;
  border-right: 100px solid #ffffff;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

/* line 279, ../_scss/helpers/_shapes.scss */
.triangle-right {
  width: 0;
  height: 0;
  border-left: 100px solid #ffffff;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

/* line 287, ../_scss/helpers/_shapes.scss */
.triangle-left-top {
  width: 0;
  height: 0;
  border-right: 50px solid #ffffff;
  border-top: 50px solid #ffffff;
  border-left: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

/* line 296, ../_scss/helpers/_shapes.scss */
.triangle-right-top {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid #ffffff;
  border-left: 50px solid #ffffff;
  border-bottom: 50px solid transparent;
}

/* line 305, ../_scss/helpers/_shapes.scss */
.triangle-left-bottom {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid transparent;
  border-left: 50px solid #ffffff;
  border-bottom: 50px solid #ffffff;
}

/* line 314, ../_scss/helpers/_shapes.scss */
.triangle-right-bottom {
  width: 0;
  height: 0;
  border-right: 50px solid #ffffff;
  border-top: 50px solid transparent;
  border-left: 50px solid transparent;
  border-bottom: 50px solid #ffffff;
}

/* 	ARROWS
-----------------------------------------------------*/
/* line 325, ../_scss/helpers/_shapes.scss */
.arrow-up {
  height: 0px;
  width: 0px;
  border-width: 50px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
  position: relative;
  bottom: 50px;
  left: 0;
}

/* line 336, ../_scss/helpers/_shapes.scss */
.arrow-up:after {
  content: '';
  width: 35px;
  height: 75px;
  background-color: #ffffff;
  position: absolute;
  top: 25px;
  right: -17px;
}

/* line 346, ../_scss/helpers/_shapes.scss */
.arrow-down {
  height: 0px;
  width: 0px;
  border-width: 50px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  position: relative;
  top: 50px;
  left: 0;
}

/* line 357, ../_scss/helpers/_shapes.scss */
.arrow-down:after {
  content: '';
  width: 35px;
  height: 75px;
  background-color: #ffffff;
  position: absolute;
  bottom: 25px;
  right: -17px;
}

/* line 367, ../_scss/helpers/_shapes.scss */
.arrow-left {
  height: 0px;
  width: 0px;
  border-width: 50px;
  border-style: solid;
  border-color: transparent #ffffff transparent transparent;
  position: relative;
  right: 50px;
  top: 0;
}

/* line 378, ../_scss/helpers/_shapes.scss */
.arrow-left:after {
  content: '';
  width: 75px;
  height: 35px;
  background-color: #ffffff;
  position: absolute;
  top: -17px;
  left: 25px;
}

/* line 388, ../_scss/helpers/_shapes.scss */
.arrow-right {
  height: 0px;
  width: 0px;
  border-width: 50px;
  border-style: solid;
  border-color: transparent transparent transparent #ffffff;
  position: relative;
  left: 50px;
  top: 0;
}

/* line 399, ../_scss/helpers/_shapes.scss */
.arrow-right:after {
  content: '';
  width: 75px;
  height: 35px;
  background-color: #ffffff;
  position: absolute;
  top: -17px;
  right: 25px;
}

/* 	CIRCLES
-----------------------------------------------------*/
/* line 411, ../_scss/helpers/_shapes.scss */
.circle {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 50px;
}

/* line 418, ../_scss/helpers/_shapes.scss */
.circle-spin-half {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #ffffff;
  border-left: 20px solid #ffffff;
  -webkit-animation: rotate 1.2s infinite linear;
  -moz-animation: rotate 1.2s infinite linear;
  -ms-animation: rotate 1.2s infinite linear;
  -o-animation: rotate 1.2s infinite linear;
  animation: rotate 1.2s infinite linear;
}

/* line 435, ../_scss/helpers/_shapes.scss */
.oval {
  width: 100px;
  height: 50px;
  margin-top: 25px;
  background: #ffffff;
  border-radius: 100px / 50px;
}

/* line 443, ../_scss/helpers/_shapes.scss */
.circle-half-top {
  height: 50px;
  width: 100px;
  background: #ffffff;
  border-radius: 100px 100px 0 0;
}

/* line 450, ../_scss/helpers/_shapes.scss */
.circle-half-bottom {
  height: 50px;
  width: 100px;
  margin-top: 50px;
  background: #ffffff;
  border-radius: 0 0 100px 100px;
}

/* line 458, ../_scss/helpers/_shapes.scss */
.circle-half-left {
  height: 100px;
  width: 50px;
  background: #ffffff;
  border-radius: 100px 0 0 100px;
}

/* line 465, ../_scss/helpers/_shapes.scss */
.circle-half-right {
  height: 100px;
  width: 50px;
  margin-left: 50px;
  background: #ffffff;
  border-radius: 0 100px 100px 0;
}

/* line 473, ../_scss/helpers/_shapes.scss */
.circle-quarter-left-top {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 100px 0 0 0;
}

/* line 480, ../_scss/helpers/_shapes.scss */
.circle-quarter-right-top {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 0 100px 0 0;
}

/* line 487, ../_scss/helpers/_shapes.scss */
.circle-quarter-left-bottom {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 0 0 100px 0;
}

/* line 494, ../_scss/helpers/_shapes.scss */
.circle-quarter-right-bottom {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 0 0 0 100px;
}

/* line 501, ../_scss/helpers/_shapes.scss */
.circle-wedge-top {
  width: 0;
  height: 0;
  border-right: 50px solid #ffffff;
  border-top: 50px solid transparent;
  border-left: 50px solid #ffffff;
  border-bottom: 50px solid #ffffff;
  border-radius: 50px;
}

/* line 511, ../_scss/helpers/_shapes.scss */
.circle-wedge-bottom {
  width: 0;
  height: 0;
  border-right: 50px solid #ffffff;
  border-top: 50px solid #ffffff;
  border-left: 50px solid #ffffff;
  border-bottom: 50px solid transparent;
  border-radius: 50px;
}

/* line 521, ../_scss/helpers/_shapes.scss */
.circle-wedge-left {
  width: 0;
  height: 0;
  border-right: 50px solid #ffffff;
  border-top: 50px solid #ffffff;
  border-left: 50px solid transparent;
  border-bottom: 50px solid #ffffff;
  border-radius: 50px;
}

/* line 531, ../_scss/helpers/_shapes.scss */
.circle-wedge-right {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid #ffffff;
  border-left: 50px solid #ffffff;
  border-bottom: 50px solid #ffffff;
  border-radius: 50px;
}

/* 	STARS
-----------------------------------------------------*/
/* line 543, ../_scss/helpers/_shapes.scss */
.star-six {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 80px solid #ffffff;
}

/* line 552, ../_scss/helpers/_shapes.scss */
.star-six:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 80px solid #ffffff;
  margin: 30px 0 0 -50px;
}

/* line 563, ../_scss/helpers/_shapes.scss */
.star-eight {
  background: transparent;
  width: 60px;
  height: 0;
  position: relative;
  margin-top: 30px;
  border-top: solid 20px #ffffff;
  border-bottom: solid 20px #ffffff;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
}

/* line 575, ../_scss/helpers/_shapes.scss */
.star-eight:before {
  content: "";
  background: transparent;
  width: 60px;
  height: 0;
  position: absolute;
  top: -20px;
  left: -20px;
  border-top: solid 20px #ffffff;
  border-bottom: solid 20px #ffffff;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 595, ../_scss/helpers/_shapes.scss */
.star-twelve {
  height: 100px;
  width: 100px;
  background: #ffffff;
  position: absolute;
}

/* line 602, ../_scss/helpers/_shapes.scss */
.star-twelve:before {
  height: 100px;
  width: 100px;
  background: #ffffff;
  content: "";
  position: absolute;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* line 616, ../_scss/helpers/_shapes.scss */
.star-twelve:after {
  height: 100px;
  width: 100px;
  background: #ffffff;
  content: "";
  position: absolute;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

/* 	HEART
-----------------------------------------------------*/
/* line 632, ../_scss/helpers/_shapes.scss */
.heart {
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: -10px;
}

/* line 639, ../_scss/helpers/_shapes.scss */
.heart:before, .heart:after {
  position: absolute;
  content: "";
  left: 60px;
  top: 0;
  width: 60px;
  height: 100px;
  background: #ff6666;
  border-radius: 60px 60px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

/* line 662, ../_scss/helpers/_shapes.scss */
.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

/* 	CROSS & PLUS
-----------------------------------------------------*/
/* line 680, ../_scss/helpers/_shapes.scss */
.cross {
  background: #ffffff;
  width: 33px;
  height: 100px;
  position: relative;
  margin-left: 33px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 694, ../_scss/helpers/_shapes.scss */
.cross:before {
  background: #ffffff;
  content: "";
  width: 100px;
  height: 33px;
  position: absolute;
  top: 33px;
  left: -33px;
}

/* line 704, ../_scss/helpers/_shapes.scss */
.cross-round {
  background: #ffffff;
  width: 33px;
  height: 100px;
  position: relative;
  margin-left: 33px;
  border-radius: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 719, ../_scss/helpers/_shapes.scss */
.cross-round:before {
  background: #ffffff;
  content: "";
  width: 100px;
  height: 33px;
  position: absolute;
  top: 33px;
  left: -33px;
  border-radius: 20px;
}

/* line 730, ../_scss/helpers/_shapes.scss */
.plus {
  background: #ffffff;
  width: 33px;
  height: 100px;
  position: relative;
  margin-left: 33px;
}

/* line 738, ../_scss/helpers/_shapes.scss */
.plus:before {
  background: #ffffff;
  content: "";
  width: 100px;
  height: 33px;
  position: absolute;
  top: 33px;
  left: -33px;
}

/* line 748, ../_scss/helpers/_shapes.scss */
.plus-round {
  background: #ffffff;
  width: 33px;
  height: 100px;
  position: relative;
  margin-left: 33px;
  border-radius: 20px;
}

/* line 757, ../_scss/helpers/_shapes.scss */
.plus-round:before {
  background: #ffffff;
  content: "";
  width: 100px;
  height: 33px;
  position: absolute;
  top: 33px;
  left: -33px;
  border-radius: 20px;
}

/* 	FLOWER
-----------------------------------------------------*/
/* line 770, ../_scss/helpers/_shapes.scss */
.flower {
  background: #ffffff;
  width: 80px;
  height: 80px;
  margin: 10px;
  position: relative;
  border-radius: 20px;
}

/* line 779, ../_scss/helpers/_shapes.scss */
.flower:before {
  content: "";
  background: #ffffff;
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* 	YINYANG
-----------------------------------------------------*/
/* line 796, ../_scss/helpers/_shapes.scss */
.yinyang {
  width: 96px;
  height: 48px;
  background: #1c1c1c;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
  -webkit-animation: rotate 1.2s infinite linear;
  -moz-animation: rotate 1.2s infinite linear;
  -ms-animation: rotate 1.2s infinite linear;
  -o-animation: rotate 1.2s infinite linear;
  animation: rotate 1.2s infinite linear;
}

/* line 813, ../_scss/helpers/_shapes.scss */
.yinyang:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #1c1c1c;
  border: 18px solid #ffffff;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}

/* line 825, ../_scss/helpers/_shapes.scss */
.yinyang:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ffffff;
  border: 18px solid #1c1c1c;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}

/* line 837, ../_scss/helpers/_shapes.scss */
.callout {
  position: absolute;
  width: 100px;
  height: 75px;
  margin-top: 10px;
  background: #ffffff;
  border-radius: 5px;
}

/* line 846, ../_scss/helpers/_shapes.scss */
.callout:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 15px solid #ffffff;
  border-bottom: 10px solid transparent;
  margin: 27px 0 0 -15px;
}

/* line 857, ../_scss/helpers/_shapes.scss */
.search {
  font-size: 8em;
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 0.1em solid #ffffff;
  position: relative;
  border-radius: 0.35em;
}

/* line 867, ../_scss/helpers/_shapes.scss */
.search:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;
  border-width: 0;
  background: #ffffff;
  width: 0.35em;
  height: 0.09em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 885, ../_scss/helpers/_shapes.scss */
.bookmark {
  width: 0;
  height: 75px;
  margin-left: 25px;
  border-right: 25px solid #ffffff;
  border-left: 25px solid #ffffff;
  border-bottom: 25px solid transparent;
}

/* line 894, ../_scss/helpers/_shapes.scss */
.map-pin {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 18px;
  border: #ffffff solid 20px;
  border-radius: 50%;
}

/* line 903, ../_scss/helpers/_shapes.scss */
.map-pin:after {
  content: "";
  position: absolute;
  top: 31px;
  left: -15px;
  border-radius: 5px;
  border: transparent solid 28px;
  border-top: #ffffff solid 38px;
  border-bottom-width: 0;
}

/* 	BATTERY
-----------------------------------------------------*/
/* line 916, ../_scss/helpers/_shapes.scss */
.battery {
  position: relative;
  display: block;
  margin: 35px 0 0 5px;
  background: #ffffff;
  width: 50px;
  height: 28px;
}

/* line 925, ../_scss/helpers/_shapes.scss */
.battery:before {
  content: "";
  display: block;
  background: transparent;
  border: 6px solid #ffffff;
  margin: -12px;
  width: 85px;
  height: 40px;
  position: absolute;
  border-radius: 2px;
}

/* line 937, ../_scss/helpers/_shapes.scss */
.battery:after {
  content: "";
  display: block;
  background: transparent;
  border: 6px solid #ffffff;
  margin: 0px 80px;
  width: 6px;
  height: 16px;
  position: absolute;
  border-radius: 2px;
}

/* 	IPHONE
-----------------------------------------------------*/
/* line 951, ../_scss/helpers/_shapes.scss */
.iphone {
  background: #1c1c1c;
  height: 70px;
  width: 50px;
  border-top: 15px solid #ffffff;
  border-right: 5px solid #ffffff;
  border-bottom: 15px solid #ffffff;
  border-left: 5px solid #ffffff;
  border-radius: 6px;
  position: absolute;
  margin-left: 20px;
}

/* line 964, ../_scss/helpers/_shapes.scss */
.iphone:before {
  background: #1c1c1c;
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 73px;
  left: 21px;
  border-radius: 50%;
}

/* line 975, ../_scss/helpers/_shapes.scss */
.iphone:after {
  background: #1c1c1c no-repeat;
  content: "";
  width: 15px;
  height: 3px;
  position: absolute;
  top: -8px;
  left: 18px;
}

/* 	EYE
-----------------------------------------------------*/
/* line 987, ../_scss/helpers/_shapes.scss */
.eye {
  position: relative;
  width: 80px;
  height: 80px;
  left: 8px;
  top: 8px;
  background-color: #ffffff;
  -webkit-border-top-left-radius: 55px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 55px;
  -webkit-border-bottom-left-radius: 10px;
  border-radius-topleft: 55px;
  border-radius-topright: 0;
  border-radius-bottomright: 55px;
  border-radius-bottomleft: 0;
  border-top-left-radius: 55px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 55px;
  border-bottom-left-radius: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 1015, ../_scss/helpers/_shapes.scss */
.eye:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 333;
  border-radius: 40px;
  background: #ffffff;
  border: 15px solid #1c1c1c;
  top: 15px;
  left: 15px;
}

/* 	ANIMATE
-----------------------------------------------------*/
@keyframes "rotate" {
  /* line 1031, ../_scss/helpers/_shapes.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  /* line 1042, ../_scss/helpers/_shapes.scss */
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes "rotate" {
  /* line 1050, ../_scss/helpers/_shapes.scss */
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes "rotate" {
  /* line 1058, ../_scss/helpers/_shapes.scss */
  to {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes "rotate" {
  /* line 1066, ../_scss/helpers/_shapes.scss */
  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*! _normalize.css v2.1.2 | MIT License | http://github.com/hail2u/normalize.scss */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 16, ../_scss/normalize/html5/_blocks.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 7, ../_scss/normalize/html5/_inline-blocks.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
/* line 6, ../_scss/normalize/html5/_audio.scss */
audio:not([controls]) {
  display: none;
  /* 1 */
  height: 0;
  /* 2 */
}

/*
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 7, ../_scss/normalize/html5/_hidden.scss */
[hidden],
template {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 7, ../_scss/normalize/base/_html.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 5, ../_scss/normalize/base/_body.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 5, ../_scss/normalize/links/_fix-background.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 5, ../_scss/normalize/links/_fix-outline.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 14, ../_scss/normalize/links/_fix-outline.scss */
a:active,
a:hover {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 6, ../_scss/normalize/typography/_headings.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 5, ../_scss/normalize/typography/_abbr.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 6, ../_scss/normalize/typography/_fix-bolder.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 5, ../_scss/normalize/typography/_dfn.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 5, ../_scss/normalize/typography/_hr.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 5, ../_scss/normalize/typography/_mark.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 8, ../_scss/normalize/typography/_fix-monospace.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 5, ../_scss/normalize/typography/_pre.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 5, ../_scss/normalize/typography/_q.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 5, ../_scss/normalize/typography/_small.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 6, ../_scss/normalize/typography/_sub-and-sup.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 13, ../_scss/normalize/typography/_sub-and-sup.scss */
sup {
  top: -0.5em;
}

/* line 17, ../_scss/normalize/typography/_sub-and-sup.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 5, ../_scss/normalize/embed/_img.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 5, ../_scss/normalize/embed/_svg.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 5, ../_scss/normalize/figures/_figure.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 5, ../_scss/normalize/forms/_fieldset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 6, ../_scss/normalize/forms/_legend.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 10, ../_scss/normalize/forms/_fix-font.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 9, ../_scss/normalize/forms/_fix-text-transform.scss */
button,
select {
  text-transform: none;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 7, ../_scss/normalize/forms/_fix-line-height.scss */
button,
input {
  line-height: normal;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 12, ../_scss/normalize/forms/_buttons.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 6, ../_scss/normalize/forms/_disabled.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 7, ../_scss/normalize/forms/_checkbox-and-radio.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 7, ../_scss/normalize/forms/_search.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 20, ../_scss/normalize/forms/_search.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 6, ../_scss/normalize/forms/_fix-focus-inner.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 6, ../_scss/normalize/forms/_textarea.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 5, ../_scss/normalize/tables/_fix-cell-spacing.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -----------------------------
   Clearfix
   ----------------------------- */
/* line 18, ../_scss/grid/_clearfix.scss */
.clearfix {
  zoom: 1;
}
/* line 9, ../_scss/grid/_clearfix.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 13, ../_scss/grid/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/*

$degredation-selector: '.no_media_queries';
$ie6-selector: '.ie6';
$grid-debug: false;

@include define-grid-settings(
	$grid-name: 'grid-6',
	$is-fluid: true,
	$column-width: 140,
	$gutter-width: 20,
	$gutter-property: 'margin',
	$num-columns: 6,
	$padding-left: 20,
	$padding-right: 20,
	$breakpoints: (
		(
		  query 'screen and (max-width: 979px)',
		  max-width 768px,
		  padding-left 10px,
		  padding-right 10px,
		  column-width 42
		  apply-to-browsers-w/o-media-queries true
		),(
			query 'screen and (max-width: 767px)',
			max-width 100%,
			padding-left 20px,
			padding-right 20px
		)
  )
);

@include apply-grid(
	$use-grid: 'grid-6',
	$container-selector: '.grid_container',
	$row-selector: '.grid_row_6',
	$row-extend-selectors: '%grid_row',
	$column-selector-prefix: '.grid_col_',
	$column-extend-selectors: '%grid_col',
	$output-column-styles-for: 1 2 3 4 5 6,
	$break-columns: (
		(
			breakpoint 2,
			selector '.grid_col_2, .grid_col_3, .grid_col_4, .grid_col_5, .grid_col_6',
			columns 6
		)
	)
);

%grid_row{
	@include clearfix;
}

%grid_col {
	float: left;
}

.grid_container{
	@include clearfix;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

*/
/* line 92, ../_scss/grid/_layout.scss */
#left {
  position: absolute;
  left: 80px;
  top: 0px;
  bottom: 0px;
  right: 40%;
  overflow: scroll;
  background-color: #FFF;
}
/* line 100, ../_scss/grid/_layout.scss */
#left .buffer {
  height: 1000px;
}

/* line 1, ../_scss/ui/_post.scss */
.post {
  margin: 40px;
}

/* line 5, ../_scss/ui/_post.scss */
.divider {
  border-bottom: 1px dotted #eee;
  height: 50px;
  margin-bottom: 49px;
}

/* line 11, ../_scss/ui/_post.scss */
pre.json {
  display: none;
}

/* line 1, ../_scss/ui/_nav.scss */
#nav {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 80px;
  background-color: #F5F5F5;
}
/* line 8, ../_scss/ui/_nav.scss */
#nav .contents {
  display: none;
}
/* line 11, ../_scss/ui/_nav.scss */
#nav .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px;
  background-size: cover;
  background-position: center center;
}
/* line 19, ../_scss/ui/_nav.scss */
#nav:hover {
  background-color: #222;
}

/* line 2, ../_scss/ui/_date.scss */
.old_date .day_of_week {
  font: 600 30px/40px "Helvetica Neue", "Helvetica", Sans-Serif;
}
/* line 5, ../_scss/ui/_date.scss */
.old_date .calendar {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  background-color: #111111;
  margin: -4px 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  font-family: "PT Mono", Monaco, monospace;
  position: relative;
  top: -10px;
}
/* line 15, ../_scss/ui/_date.scss */
.old_date .calendar .short_month,
.old_date .calendar .year,
.old_date .calendar .day_of_month_with_zero {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 4px;
}
/* line 21, ../_scss/ui/_date.scss */
.old_date .calendar .short_month {
  text-transform: uppercase;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
/* line 27, ../_scss/ui/_date.scss */
.old_date .calendar .day_of_month_with_zero {
  display: block;
  font: 700 26px/26px "PT Mono", Monaco, monospace;
  text-transform: uppercase;
  background-color: #333;
}
/* line 33, ../_scss/ui/_date.scss */
.old_date .calendar .year {
  font-size: 11px;
  letter-spacing: 1px;
}
/* line 38, ../_scss/ui/_date.scss */
.old_date .clock {
  margin-left: 4px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  position: relative;
  top: 10px;
  font-family: "PT Mono", Monaco, monospace;
}
/* line 44, ../_scss/ui/_date.scss */
.old_date .clock span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  background: #111111;
  color: #FFF;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 4px;
  margin: 0px -4px;
}
/* line 52, ../_scss/ui/_date.scss */
.old_date .clock .am-pm {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  background-color: transparent;
  color: #111111;
  padding: 1px;
}

/* line 1, ../_scss/ui/_map.scss */
#map {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 60%;
  background-color: #000;
  z-index: 1;
}
/* line 9, ../_scss/ui/_map.scss */
#map .leaflet-tile-pane {
  opacity: 0.44;
  filter: alpha(opacity=44);
}

/* line 14, ../_scss/ui/_map.scss */
.map-edge {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 40%;
  width: 2px;
  z-index: 10;
  margin-right: -2px;
}
/* line 22, ../_scss/ui/_map.scss */
html.rgba .map-edge {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 27, ../_scss/ui/_map.scss */
.marker {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  background-color: #000;
  border-radius: 50%;
  z-index: 401;
}
/* line 35, ../_scss/ui/_map.scss */
html.rgba .marker {
  background-color: rgba(0, 0, 0, 0.32);
}
/* line 38, ../_scss/ui/_map.scss */
.marker .photo {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  margin: 2px;
}
/* line 46, ../_scss/ui/_map.scss */
.marker .icon-shell {
  margin: 2px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #111111;
  color: #FFF;
  font: 400 30px/56px 'Helvetica Neue';
  text-align: center;
}
/* line 56, ../_scss/ui/_map.scss */
.marker .count {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 18px;
  height: 18px;
  color: #FFF;
  background-color: #111111;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  text-align: center;
  font: 400 11px/18px 'Helvetica Neue';
}
/* line 69, ../_scss/ui/_map.scss */
.marker:hover {
  z-index: 999;
}

/* line 74, ../_scss/ui/_map.scss */
.leaflet-control-attribution {
  background-color: #000 !important;
  color: #AAA !important;
  box-shadow: none !important;
  padding: 2px 6px !important;
}
/* line 79, ../_scss/ui/_map.scss */
.leaflet-control-attribution a {
  color: #FFF !important;
  text-decoration: none !important;
}

/* line 3, ../_scss/posts/_photoset.scss */
.photoset .image img {
  display: block;
  width: 100%;
}

/* line 2, ../_scss/posts/_photo.scss */
.photo .image_hold {
  background-color: #111111;
}
/* line 4, ../_scss/posts/_photo.scss */
.photo .image_hold img {
  display: block;
  margin: 10px 0px;
  width: 100%;
}

/* line 3, ../_scss/posts/_text.scss */
.text.flight h1 {
  font: 600 50px/50px "Helvetica Neue", "Helvetica", Sans-Serif;
  text-align: center;
}
/* line 7, ../_scss/posts/_text.scss */
.text.flight .airport-code {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
/* line 9, ../_scss/posts/_text.scss */
.text.flight .airport-code .letter {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  background-color: #111111;
  color: #FFF;
  margin-right: 2px;
  padding: 4px 4px;
  width: 1em;
  text-align: center;
  position: relative;
}
/* line 18, ../_scss/posts/_text.scss */
.text.flight .airport-code .letter .shadow {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 50%;
  right: 0px;
  display: none;
}
/* line 25, ../_scss/posts/_text.scss */
html.rgba .text.flight .airport-code .letter .shadow {
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 16, ../_scss/style.scss */
.map {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #EEE;
}
