@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);

$sans: "Helvetica Neue", "Helvetica", Sans-Serif;
$oswald: "Oswald", $sans;
$mono: 'PT Mono', Monaco, monospace;