.photoset{
	padding: 0px;
	.row{
		clear: both;
		display: block;
	}
	img{
		display: block;
		width: 100%;
		position: relative;
		z-index: 1;
	}
	.row_size_2{
		.block{
			width: 50%;
			float: left;
			&:nth-child(1){
				.image{
					margin-right: 10px;
				}
			}
			&:nth-child(2){
				.image{
					margin-left: 10px;
				}
			}
		}
	}
	.row_size_3{
		.block{
			width: 33.3333333%;
			float: left;
			&:nth-child(1){
				.image{
					margin-right: 13px;
				}
			}
			&:nth-child(2){
				.image{
					margin: 0px 7px;
				}
			}
			&:nth-child(3){
				.image{
					margin-left: 13px;
				}
			}
		}
	}
}