.photoset{
// 	width: 500px;
	@include center-block;
	.row{
		clear: both;
		margin-bottom: 50px;
	}
	img{
		display: block;
		width: 100%;
		position: relative;
		z-index: 1;
	}
	.cell{
		position: relative;
	}
	.caption{
		font: 400 11px/20px $sans;
		margin-top: 4px;
		z-index: 2;
		color: #AAA;
	}
	.row_size_1{
		.cell{
			margin: 0px 50px;
		}
	}
	.row_size_2{
		.cell{
			float: left;
			width: 50%;
			&:nth-child(1){
				.image{
					margin-right: 25px;
				}
			}
			&:nth-child(2){
				.image{
					margin-left: 25px;
				}
			}
		}
	}
	.row_size_3{
		.cell{
			float: left;
			width: 33.33333%;
			&:nth-child(1){
				.image{
					margin-right: 25px;
					margin-top: 0px;
				}
			}
			&:nth-child(2){
				.image{
					margin: 0px 25px;	
				}
			}
			&:nth-child(3){
				.image{
					margin-left: 25px;
					margin-top: 0px;
				}
			}
		}
	}
}