<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{Title}{block:PostTitle} - {PostTitle}{/block:PostTitle}</title>
    <link rel="stylesheet" href="{{ page.server }}/assets/css/style.css">
    <script type="text/javascript" src="{{ page.server }}/assets/js/modernizr.js"></script>
    <meta name="description" content="{MetaDescription}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="(RSS 2.0)" href="{RSS}" />
    <style type="text/css">
    {CustomCSS}
    </style>
  </head>
  <body>

    <div id="header">
      <img src="{PortraitURL-128}" />
    </div>

    <div id="nav">
      {block:HasPages}
      <ul>
        {block:Pages}<li><a href="{URL}">{Label}</a></li>{/block:Pages}
      </ul> 
      {/block:HasPages}
    </div>

    {block:Posts}
      <div class="post {PostType} {TagsAsClasses} {block:Odd}odd{/block:Odd} {block:Even}even{/block:Even} grid_container" id="post-{PostID}">
        {block:Date}
          <div class="date">
            <span class="day_of_week">{DayOfWeek}</span>
            <div class="calendar">
              <span class="short_month">{ShortMonth}</span>
              <span class="day_of_month_with_zero">{DayOfMonthWithZero}</span>
              <span class="year">{Year}</span>
            </div>
            <div class="clock">
              <span class="hours">{12HourWithZero}</span>
              <span class="divider">:</span>
              <span class="minutes">{Minutes}</span>
              <span class="am-pm">{AmPm}</span>
            </div>
          </div>
        {/block:Date}

        {block:Title}
        <div class="grid_row_6">
          <div class="grid_col_3">
            <h1>
              {block:IndexPage}<a href="{Permalink}">{/block:IndexPage}
              {Title}
              {block:IndexPage}</a>{/block:IndexPage}
            </h1>
          </div>
        </div>
        {/block:Title}

        {block:Text}
        <div class="grid_row_6">
          <div class="grid_col_1">&nbsp;</div>
          <div class="grid_col_4">
            {Body}
          </div>
        </div>
        {/block:Text}

        {block:Photo}
        <div class="image_hold">
          <div class="grid_row_6">
            <div class="grid_col_6">
              {LinkOpenTag}
                <img src="{PhotoURL-400}" {block:HighRes}data-highres="{PhotoURL-HighRes}"{/block:HighRes}  alt="{PhotoAlt}" />
              {LinkCloseTag}
            </div>
          </div>
        </div>        
        <div class="grid_row_6">
          <div class="grid_col_1">&nbsp;</div>
          <div class="grid_col_2">
            {block:Caption}
            <div class="caption">{Caption}</div>
            {/block:Caption}
            <div class="map"></div>
          </div>
          <div class="grid_col_2">
            {block:HasTags}
            <div class="tags">
              <h5>Tagged:</h5>
              <ul>
                {block:Tags}
                <li><a href="{TagURL}">{Tag}</a></li>
                {/block:Tags}
              </ul>
            </div>
            {/block:HasTags}
            {block:Exif}
            <div class="exif">
              <dl>
              {block:Camera}
                <dt>Camera</dt>
                <dd>{Camera}</dd>
              {/block:Camera}
              {block:Aperture}
                <dt>Aperture</dt>
                <dd>{Aperture}</dd>
              {/block:Aperture}
              {block:Exposure}
                <dt>Exposure</dt>
                <dd>{Exposure}</dd>
              {/block:Exposure}
              {block:FocalLength}
                <dt>Focal Length</dt>
                <dd>{FocalLength}</dd>
              {/block:FocalLength}
              </dl>
            </div>  
            {/block:Exif}
          </div>
        </div>
        {/block:Photo}

        {block:Photoset}
        <div class="grid_row_6">
          <div class="grid_col_1">
            {block:Caption}
            <div class="caption">{Caption}</div>
            {/block:Caption}
            <div class="map"></div>
            {block:HasTags}
            <div class="tags">
              <h5>Tagged:</h5>
              <ul>
                {block:Tags}
                <li><a href="{TagURL}">{Tag}</a></li>
                {/block:Tags}
              </ul>
            </div>
            {/block:HasTags}
          </div>
          <div class="grid_col_4">
            {block:Photos}
            <div class="image">
              <img src="{PhotoURL-500}" />
              {block:Caption}
              <div class="caption">
                <p>{Caption}</p>
              </div>
              {/block:Caption}              
            </div>
            {block:Photos}
            <script type="application/json">
            {
              "photos": [{block:Photos}{ 
                "src": "{PhotoURL-500}",
                "caption": "{block:Caption}{Caption}{/block:Caption}",
                {block:HighRes}
                "high-res": "{PhotoURL-HighRes}",
                {/block:HighRes}
                "link": "{LinkURL}"
              },{/block:Photos}{}],
              "layout": {JSPhotosetLayout}
            }
            </script>
          </div>
        </div>
        {/block:Photoset}
      </div>
    {/block:Posts}
    
  </body>
</html>
